/* Write your CSS here */
.lii {
  margin-right: 8px;
}
.btn {
  background-color: transparent;
  border-width: 0px;
  font-size: 23px;
}
.btn-styyy {
  border-bottom-width: 2px;
  border-color: red;
}
